*.pyc
*.db
.idea/.name
*.xml
.idea/orange-textable.iml
build/*
dist/Orange-Textable-1.3*
dist/Orange-Textable-1.4*
dist/Orange-Textable-1.5*
dist/Orange_Textable-1.3*
dist/Orange_Textable-1.4*
dist/Orange_Textable-1.5*
_textable/widgets/icons/Thumbs.db